.movies-card-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.movies-card-list__grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    margin-top: 10px;
    max-width: 1240px;
    width: 100%;
    gap: 32px 20px;
    box-sizing: border-box;
    padding: 70px 50px 30px 50px;
}

@media screen and (max-width: 768px) {
    .movies-card-list__grid{
        grid-template-columns: repeat(2, 1fr);
        padding: 70px 15px 30px 15px;
        max-width: 738px;
    }
}

@media screen and (max-width: 320px) {
    .movies-card-list__grid{
        grid-template-columns: repeat(1, 1fr);
        padding: 40px 14px 30px 14px;
        gap: 20px 20px;
        max-width: 320px;
    }
}