.profile{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 410px;
    width: 100%;
}

.profile__caption{
    color: #000;
    text-align: center;
    font-family: "Inter", "Arial", "Helvetica", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 74px 0 123px 0;
}

.profile__form{
    display: flex;
    flex-direction: column;
}
.profile__field{
    display: flex;
    width: 100%;
    justify-content: space-between;
    color: #000;
    font-family: "Inter", "Arial", "Helvetica", sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.profile__field:first-of-type{
    border-bottom: 1px solid #E8E8E8;
    padding: 0 0 16px 0;
}

.profile__field:last-of-type{
    padding: 17px 0 0 0;
}

.profile__input{
    border: 0;
    background: 0;
    outline: none;
    text-align: right;
    font-weight: 400;
}

.profile__input:focus{
    filter: drop-shadow(0px 0px 12px rgba(0, 0, 0, 0.4));
}

.profile__input_color_red{
    color: #EE3465;
}

.profile__submit-button{
    border-radius: 3px;
    background: #3456F3;
    color: #FFFFFF;
    border: 0;
    width: 100%;
    min-height: 45px;
    text-align: center;
    font-family: "Inter", "Arial", "Helvetica", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 220px 0 0 0;
    display: none;
    cursor: pointer;
}

.profile__submit-button_type_visible{
    display: block;
}

.profile__submit-button_type_disabled{
    background: #F8F8F8;
    cursor: default;
}

.profile__edit-button{
    border: 0;
    background: 0;
    cursor: pointer;
    padding: 0;
    margin: 220px 0 16px 0;
    align-self: center;
    color: #000;
    text-align: center;
    font-family: "Inter", "Arial", "Helvetica", sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.profile__edit-button_type_hidden{
    display: none;
}

.profile__logout-button{
    border: 0;
    background: 0;
    cursor: pointer;
    padding: 0;
    align-self: center;
    color: #EE3465;
    text-align: center;
    font-family: "Inter", "Arial", "Helvetica", sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.profile__logout-button_type_hidden{
    display: none;
}


@media screen and (max-width: 768px) {
    .profile__caption{
        margin: 236px 0 96px 0;
    }

    .profile__edit-button{
        margin: 210px 0 16px 0;
    }

    .profile__submit-button{
        margin: 210px 0 0 0;
    }
}

@media screen and (max-width: 320px) {
    .profile__caption{
        margin: 70px 0 80px 0;
    }

    .profile__form{
        max-width: 260px;
        width: 100%;
        align-self: center;
    }

    .profile__edit-button{
        margin: 375px 0 16px 0;
    }

    .profile__submit-button{
        margin: 375px 0 0 0;
    }
}